page-order {
	.scan_btn{
		width: 90%;
	    margin: 0px 5%;
	}
	.item-input-has-focus:last-child{
		border-bottom-color: #FFD453 !important;
		box-shadow: inset 0px -1px 0 0 #FFD453 !important;
	}
	.item-input-has-focus .label-md[floating]{
		color: #FFD453 !important;
	}
	.tot_amt {
		text-align: center;
	}
	.tot_amt p{
		font-size: 30px;
	    padding-top: 20px;
	    color: #959595;
	}		
}
