page-home {
	.scan_btn{
		width: 85%;
		margin: 0px 9%;
	}
	.scan_img{
		width: 100%;
		padding: 15%;
	}
	.cart-btn{
		position: absolute;
	    right: 7px;
	    top: 5px;
	}
	.cart-btn .cart{
		font-size: 27px !important;
	    color: #565656 !important;
	}
}
